# Create a new directory and enter it

function md() {
	mkdir -p "$@" && cd "$@"
}

# Open the current Xcode project or workspace

function xcode() {

  proj=$(ls -d *.xcodeproj/ 2>/dev/null)
	work=$(ls -d *.xcworkspace/ 2>/dev/null)

	if [ -n "$work" ]; then
    open -a Xcode "$work"
  elif [ -n "$proj" ]; then
    open -a Xcode "$proj"
  else
    echo "No Xcode project detected."
  fi

}

# For our PS1, branch name

git_branch() {
     git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/(\1)/'
}
