
# Create a new directory and enter it
function md() {
	mkdir -p "$@" && cd "$@"
}

# visual studio code. a la `subl`
code () {
    if [[ $# = 0 ]]
    then
        open -a "Atom"
    else
        [[ $1 = /* ]] && F="$1" || F="$PWD/${1#./}"
        open -a "Atom" --args "$F"
    fi
}

git_branch() {
     git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/(\1)/'
}
