export ANDROID_HOME=$HOME/Android/Sdk
export ICLOUD_DOWNLOADS="$HOME/Library/Mobile Documents/com~apple~CloudDocs/Downloads"

# The top-most paths override here.
PATH=/opt/homebrew/bin
PATH=$PATH:~/.rbenv/shims
PATH=$PATH:/usr/local/bin
PATH=$PATH:$HOME/.fastlane/bin
PATH=$PATH:$HOME/.rbenv/bin
PATH=$PATH:/opt/homebrew/opt/openjdk@11/bin
PATH=$PATH:/usr/bin
PATH=$PATH:/bin:/usr/sbin
PATH=$PATH:/sbin
PATH=$PATH:$ANDROID_HOME/emulator
PATH=$PATH:$ANDROID_HOME/tools
PATH=$PATH:$ANDROID_HOME/tools/bin
PATH=$PATH:$ANDROID_HOME/platform-tools
export PATH

export EDITOR="subl -w"
export PS1="\[\033[32m\]\w\[\033[33m\]\$(git_branch)\[\033[00m\] \$ "
export LDFLAGS="-L/usr/local/opt/ruby/lib"
export CPPFLAGS="-I/usr/local/opt/ruby/include"
export CLOUDSDK_PYTHON=/opt/homebrew/opt/python@3.13/libexec/bin/python

# Always start NVM to ensure correct version of Node/NPM
export NVM_DIR=~/.nvm
source $(brew --prefix nvm)/nvm.sh
eval "nvm use 1> /dev/null"

# Always start RBENV to ensure correct version of Ruby and its bundler
eval "$(rbenv init - bash)"
eval "$(rbenv bundler on 1> /dev/null)"