export EDITOR="Atom"
export PS1="\[\033[32m\]\w\[\033[33m\]\$(git_branch)\[\033[00m\] \$ "

# The top-most paths override here.
      PATH=/usr/local/bin
PATH=$PATH:/usr/bin
PATH=$PATH:/bin:/usr/sbin
PATH=$PATH:/sbin

export PATH
